.main-chat
   .group-info
      .group-info__box
         %h2.group-info__box__group-name
            = @group.name
         %ul.group-info__box__member
            Member :
            - @users.each do |user|
               = user.name
      = link_to "Edit", edit_group_path(@group), class: "group-info__edit"

   .message-list
      = render @messages

   .chat-form
      = form_for [@group, @message] ,html:{class:"new-message"} do |f|
         .input-box
            = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
            = f.label :image, class: 'input-box__image' do
               %i.fa.fa-image
               = f.file_field :image, class: 'input-box__image__file'
         = f.submit 'Send', class: 'submit-btn'